# Ignore everything in these folders
/img/
/img_fugro/
/img_greenway/
/img_test/
/output/
/build/
/dist/
/csv/
/pdf/
/Pier*/

# Keep img_select structure only
/img_select/*
!img_select/.gitkeep

# Python
__pycache__/
*.pyc
.idea/
*.dll